@import '../settings';

.c-contact {
  background: $color-7 url('../../../assets/images/home_slider_1-1.png') center;
  background-repeat: no-repeat;
  background-size: cover;
  height: initial;

  .layer-cover {
    background-color: rgba($color-7, .8);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
}
